.cart {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-gap: 10px;

    &-details {
        -webkit-box-shadow: 0px 0px 5px 1px gainsboro;
        -moz-box-shadow: 0px 0px 5px 1px gainsboro;
        box-shadow: 0px 0px 5px 1px gainsboro;
        margin: 5px 0px;
    }
}