@import '../../../utils/variables.scss';

.plp-radiobutton{
    text-transform: uppercase;
    padding: 0px 20px;

    &-title {
        text-align: center;
        font-weight: $font-weight-high;    
    }

    ul {
        list-style: none;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;

        li{
            display: flex;
            justify-content: center;

            input {
                display: none;
            }

            input:checked + label {
                background-color: $primary-color;
                color: white;
            }
            
            label{
                font-weight: $font-weight-medium;
                text-align: center;
                display: inline-block;
                background-color: white;
                width: 95%;
                border: 1px solid $primary-color;
                cursor: pointer;
                padding: 8px 0px;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}
