.productlisting{
    display: grid;
    grid-template-columns: 2fr 6fr;

    &-left {
        grid-column: 1
    }

    &-right {
        grid-column: 2 / -1
    }

    &-load-more-btn {
        grid-column: 1 / -1;
        justify-self: center
    }
}