:root {
 --error-red: #fa7066;
 --wheat:  wheat;
}

.jumbotron {
    padding: 0rem 2rem;
}
.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: inherit;
    border-radius: .3rem;
}