.navbar {
    display: flex;
    background: white;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(87,79,87,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(87,79,87,1);
    box-shadow: 0px 0px 9px 0px rgba(87,79,87,1);
    position: sticky
}

.link-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 20px 0px; 
}

.link-wrapper li a{
    text-decoration: none;
    color: black
}
