@import '../../../utils/variables.scss';

.primary-Button {
  border-radius: 3px;
  border: none;
  margin: 10px;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  width: 200px;
  transition: all 1s;
  cursor: pointer;
  background-color: $primary-color;
  box-shadow: 3px 3px 0 $primary-shaddow;
}

.submit-button{
    align-self: center;
}

.primary-Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}


.primary-Button:hover span {
  font-weight: 600;
}

.primary-Button:hover span:after {
  opacity: 1;
  right: 0;
}

.primary-Button:active {
    width: 180px;
    padding: 1px;
    box-shadow: 5px 5px 5px $primary-shaddow;
}