@import '../../../utils/variables.scss';

.primary-Button {
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 2px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: $primary-color;
  box-shadow: 3px 3px 0 $primary-yellow;
}

.submit-button{
    align-self: center;
}

.primary-Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}


.primary-Button:hover span {
  font-weight: 700;
}

.primary-Button:hover span:after {
  opacity: 1;
  right: 0;
}