@import '../../../utils/variables.scss';

$parent-class: dropdown;

.#{$parent-class} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.#{$parent-class}-selected {
  cursor: pointer;
  padding: 2px 0px;
  text-align: center;
}

.#{$parent-class}-list {
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
   pointer-events: none;

  &-options{
    border: 1px ridge;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: white;
    
    button{
        cursor: pointer;
        padding: 5px 0px;
        color: white;
        border: none;
        border-bottom: solid 0.5px white;
        width: 100%;
        text-align: center;
        background-color: $primary-color;
        text-transform: capitalize;

      &:last-child {
        border-bottom: none
      }
    }

    button:hover{ 
      font-weight: 700;
      border-bottom: solid 2px white;
    }

  }
}

.#{$parent-class}-list-open {
    margin-top: 2px;
    z-index: 1;
    opacity: 1;
    pointer-events: all;
}
