@import '../../../utils/variables.scss';

.list {
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(189,189,189,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(189,189,189,1);
    box-shadow: 0px 0px 5px 1px rgba(189,189,189,1);
    
    &-title {
        text-align: center;
        font-weight: 700;
    }
    
    &-container {
    display: flex;
    flex-direction: column;
    }
    
    &-row {
    display: flex;
    border-bottom: solid 0.5px $primary-color;
    margin: 2px 0px;
    padding: 2px;
     
        &-column {
            width: 100%;
        }
    }
}


