
.not-found-svg {
    display: flex;
    justify-content: center;
}

#Vector_3{
    animation: face 1.2s ease-in-out infinite alternate;
}
#Vector_4{
    animation: face 1.2s ease-in-out infinite alternate;
}

#Vector_5{
    animation: face 1.2s ease-in-out infinite alternate;
}

 @keyframes face {
    from {
        transform: rotatex(0deg);
    }

    to {
        transform: rotatex(10deg);
    }
}

