@import '../../../utils/variables.scss';

.form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 1px #ccc;
    padding: 20px;
    border-radius: 3px;
}

.form input{
    border:solid 0.5px ghostwhite;
    outline: none;
    width: 100%;
    position: relative;
}

.form input[type="file"]{
    background: $primary-color;
    border: solid 2px $primary-color;
}

.input-wrapper {
    border: solid 1px #ccc;
    margin: 20px;
    padding: 20px;
    position: relative
}

.input-textarea {
    width: 100%
}

.input-wrapper .input-label {
    position: absolute;
    top: -14px;
    background: white;
    color: gray;
    font-style: italic;
    padding: 0px 5px;
}

input.error, textarea.error{
    border-color: $error-red-lighter;
}

input.no-error, textarea.no-error{
    border-color: $no-error-teal;
}
