$primary-color: #8cd0e3;
$primary-yellow: #f5ea77;
$list-color-primary: wheat;
$error-red: #eb4337;
$error-red-lighter: #f86d63;
$no-error-teal: #0adf9f;
$no-error-teal-lighter: #17f5b2;
$primary-shaddow: gainsboro;
$light-gray: #D3D3D3;
$font-weight-medium: 500;
$font-weight-high: 700;